body{
    background-color: gainsboro;
}


.topbar{
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: auto;
    width: 100%;
    margin: auto;
}
.tasks ul{
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: auto;
    width: 70%;
    overflow: scroll;
}
.tasks li {
    font-style: inherit;
    color: black;
}

.bottombar{
    align-items: center;
    background-color: white;
    bottom: 0;
    display: flex;
    flex-direction: row;
    left: 0;
    padding: 1rem;
    position: fixed;
    width: 100%;
}

/* Buttons */
.button {
    background-color: white;
    border-radius: 8px;
    border: none;
    color: gray;
    display: inline-block;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    width: 30%;
}

.addbutton {
    background-color: #4CAF50;
    border-radius: 8px;
    border: none;
    color: white;
    box-shadow: 0 5px #999;
    display: inline-block;
    font-size: 16px;
    margin-left: 3%;
    margin-right: 3%;
    padding: 0.2rem;
    text-align: center;
    text-decoration: none;
    width: 15%;
}

.addbutton:active {
    background-color: rgb(53, 134, 56);
    box-shadow: 0 1.5px #666;
    transform: translateY(4px);
}

/* Input bar */
.taskinput{
    overflow: scroll;
    padding: 0.5rem;
    margin-left: 3%;
    margin-right: 3%;
    width: 80%;

}
