@import url('​https://fonts.google.com/?query=comfortaa');

body {
  background-color: azure;
  margin: 0;
  padding: 0;
}
h1 {
  border-bottom: 1px solid skyblue;
  font-family: 'comfortaa', sans-serif;
  margin-top: 0;
}
table{
  background-color: white;
}

.button {
  background-color: skyblue;
  border-radius: 15px;
  border: none;
  box-shadow: 0 9px #999;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: 'comfortaa', sans-serif;
  font-size: 16px;
  outline: none;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
}
.button:hover {background-color: rgb(161, 228, 255)}
.button:active {
  background-color: rgb(161, 228, 255);
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.message {
  font-family: 'comfortaa', sans-serif;
}

.square {
  border: 4px solid black;
  font-size: 45pt;
  height: 100px;
  text-align: center;
  width: 100px;
}
.square:hover {
  background-color: skyblue; 
  color: white;
}
.square.onX {
  background-image: url(X.png);
  background-repeat: no-repeat;
}
.square.onO {
  background-image: url(O.png);
  background-repeat: no-repeat;
}
.square:last-child{
  margin-bottom: 0;
}
.square.won{
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: animWon;
  background-color: skyblue;
}

@keyframes animWon {
  0%   {background-color: violet;}
  25%  {background-color: skyblue;}
  50%  {background-color: violet;}
  100%  {background-color: skyblue;}
}